<div class="login-form-outer-container">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="login-form-container">
            <div class="login-form-container-header">
                <h2 [hidden]="isRegistering">Welcome please Login!</h2>
                <h2 [hidden]="!isRegistering">Please register!</h2>
                <span [hidden]="!gotResponse">{{response.message}}</span>
            </div>

            <div>
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" ngModel name="username" required
                    #username="ngModel">
                <span class="help-block" *ngIf="!username.valid && username.touched">Please Enter a username!</span>
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required
                    #password="ngModel">
                <span class="help-block" *ngIf="!password.valid && password.touched">Please Enter a password!</span>
            </div>

            <div class="login-form-container-btn-group">
                <button class="btn btn-login" [hidden]="isRegistering" [disabled]="!f.valid">Login</button>
                <button class="btn btn-login" [hidden]="!isRegistering" [disabled]="!f.valid">Register</button>
            </div>
        </div>
    </form>
    <div class="btn-register-login">
        <button class="btn btn-register-here" (click)="setIsRegistering()">{{!isRegistering ? "Register" :
            "Back to Login"}}</button>
    </div>
</div>